{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">
                            Insert an AC
                                                
                        </h5>
                        {% form_theme Form 'bootstrap_5_layout.html.twig' %}
                        {{ form(Form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    