<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

            <nav class="navbar navbar-dark navbar-expand ">
                <div class="container-fluid"><a class="navbar-brand fs-2 fw-bolder p-2 m-2 text-dark" href="#">Df°School</a>
                    <div class="collapse  navbar-collapse rounded-pill justify-content-around " id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle fw-bolder fs-4 text-dark" data-toggle="dropdown" aria-expanded="false" href="#">Listes </a>
                                <div class="dropdown-menu shadow bg-dark  rounded " role="menu">

                                    <a class="dropdown-item " role="presentation"  href="l_professeur">Professeur</a>

                                    <a class="dropdown-item " role="presentation" ?> href="l_etudiant">Etudiant</a>

                                    <a class="dropdown-item " role="presentation"  href="l_ac">AC</a>

                                    <a class="dropdown-item " role="presentation"  href="l_rp">RP</a>

                                    <a class="dropdown-item " role="presentation" ?> href="l_classe">Classe</a>

                                    <a class="dropdown-item " role="presentation"  href="l_module">Module</a>

                                    <a class="dropdown-item " role="presentation" ?> href="l_demande">Demande</a>

                                    <a class="dropdown-item " role="presentation" ?>href="l_inscription">Inscription</a>

                                    <a class="dropdown-item " role="presentation" ?> href="l_annee_scolaire">Annee Scolaire</a>
                                </div>
                            </li>
                        </ul>
                        <form action="" class="">
    <div class="input-group m-3 ">
        <input type="text" class="form-control form-control-lg bg-transparent text-dark" placeholder="Search...">
        <button type="submit" class="input-group-text btn-success"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
</form>
                        <a class="btn btn-outline float-end text-light bg-dark action-button rounded-pill" role="button" href="logout">Sign Out</a>
                    </div>
                </div>
            </nav>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>